#intro-text
	display: inline-block
	margin-top: 140px
	h1
		font-size: 45px
		line-height: 50px
		font-weight: 700
		margin-bottom: 10px
	h3
		font-size: 20px
		line-height: 25px
		margin: 20px 0

#sign-up
	background-color: #eee
	border-radius: 3px
	border: 1px solid #ddd
	display: inline-block
	width: 300px // TODO - STYLE
	nav a
		cursor: pointer
		color: #BBB // make variable
		display: block
		float: left
		font-size: 20px
		padding: 15px 0
		@include font-bitter
		width: 50%
		&.selected
			color: $green
	form
		padding: 15px
		background: #fff
		border-top: 1px solid #D6D5D5 // make variable
		
	.form-top-helper
		border-bottom: 1px solid #D6D5D5 // make variable
		@include font-bitter
		padding: 20px 0 13px 0
		margin: 0 17px // visually aligned
		font-size: 19px
		color: #BBB // make variable



