@import "compass/css3"

#intro-text
	margin-top: 140px

#intro-text, #sign-up
	display: inline-block
	h1
		font-size: 45px
		line-height: 50px
		font-weight: bold
		margin-bottom: 10px
	h3
		font-size: 20px
		line-height: 25px
		margin: 20px 0px

#sign-up
	width: 300px // TODO - STYLE
	padding: 20px
	nav a
		cursor: pointer
		&.selected
			font-weight: bold // TODO - STYLE
	.form-top-helper
		padding-bottom: 10px
		border-bottom: 1px solid #aaa


/** reuseable (view-scope) classes **/

#sign-up
	background-color: #eee
	border-radius: 3px
	border: 1px solid #ddd


