/* line 3, ../sass/login.sass */
#intro-text, #sign-up {
  display: inline-block;
}

/* line 6, ../sass/login.sass */
#sign-up {
  width: 300px;
}
/* line 8, ../sass/login.sass */
#sign-up nav a {
  cursor: pointer;
}
/* line 10, ../sass/login.sass */
#sign-up nav a.selected {
  font-weight: bold;
}

/* reuseable (view-scope) classes */
/* line 16, ../sass/login.sass */
.mid-wrapper {
  text-align: center;
}

/* line 20, ../sass/login.sass */
.stacked-inputs input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  width: 100%;
  border: 1px solid #cccccc;
  margin: 0px;
}
/* line 27, ../sass/login.sass */
.stacked-inputs input:disabled {
  background: black;
}
/* line 29, ../sass/login.sass */
.stacked-inputs label {
  display: block;
}
/* line 31, ../sass/login.sass */
.stacked-inputs .half-width-wrapper label {
  width: 50%;
  float: left;
}

/* reuseable (app-scope) classes */
/* line 36, ../sass/login.sass */
.button {
  cursor: pointer;
}
