/* line 3, ../sass/login.sass */
#intro-text {
  margin-top: 140px;
}

/* line 6, ../sass/login.sass */
#intro-text, #sign-up {
  display: inline-block;
}
/* line 8, ../sass/login.sass */
#intro-text h1, #sign-up h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 13, ../sass/login.sass */
#intro-text h3, #sign-up h3 {
  font-size: 20px;
  line-height: 25px;
  margin: 20px 0px;
}

/* line 18, ../sass/login.sass */
#sign-up {
  width: 300px;
  padding: 20px;
}
/* line 21, ../sass/login.sass */
#sign-up nav a {
  cursor: pointer;
}
/* line 23, ../sass/login.sass */
#sign-up nav a.selected {
  font-weight: bold;
}
/* line 25, ../sass/login.sass */
#sign-up .form-top-helper {
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}

/*reuseable (view-scope) classes */
/* line 32, ../sass/login.sass */
#sign-up {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #dddddd;
}
