/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* subject to change - use device queries */
/* variables */
/* for dev purposes */
/* imports */
/* line 3, ../sass/login.sass */
#intro-text, #sign-up {
  display: inline-block;
}

/* line 6, ../sass/login.sass */
#sign-up {
  width: 300px;
  padding: 20px;
}
/* line 9, ../sass/login.sass */
#sign-up nav a {
  cursor: pointer;
}
/* line 11, ../sass/login.sass */
#sign-up nav a.selected {
  font-weight: bold;
}

/*reuseable (view-scope) classes */
/* line 17, ../sass/login.sass */
body {
  background-color: #1e5799;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF2BCDE2', endColorstr='#FF0050A0');
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2bcde2), color-stop(100%, #0050a0));
  background-image: -webkit-linear-gradient(left top, #2bcde2 0%, #0050a0 100%);
  background-image: -moz-linear-gradient(left top, #2bcde2 0%, #0050a0 100%);
  background-image: -o-linear-gradient(left top, #2bcde2 0%, #0050a0 100%);
  background-image: linear-gradient(left top, #2bcde2 0%, #0050a0 100%);
}

/* line 22, ../sass/login.sass */
.mid-wrapper {
  text-align: center;
  position: relative;
  margin-top: 120px;
  font-family: "Bitter", serif;
}
/* line 27, ../sass/login.sass */
.mid-wrapper h1 {
  font-size: 45px;
  padding-bottom: 30px;
  color: white;
  text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.5);
}
/* line 32, ../sass/login.sass */
.mid-wrapper h3 {
  padding-bottom: 30px;
  color: white;
  text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.5);
}

/* line 37, ../sass/login.sass */
#sign-up {
  background-color: #eeeeee;
  border-radius: 3px;
  box-shadow: 0px 0px 30px -10px;
}

/* line 43, ../sass/login.sass */
.stacked-inputs input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  width: 100%;
  border: 1px solid #cccccc;
  margin: 0px;
}
/* line 50, ../sass/login.sass */
.stacked-inputs input:disabled {
  background: black;
}
/* line 52, ../sass/login.sass */
.stacked-inputs input[type=submit] {
  background: #bbaacc;
}
/* line 54, ../sass/login.sass */
.stacked-inputs label {
  display: block;
}
/* line 56, ../sass/login.sass */
.stacked-inputs .half-width-wrapper label {
  width: 50%;
  float: left;
}

/* line 1, ../sass/main.sass */
#job-navigation-panel {
  float: right;
  width: 300px;
  height: 100%;
}

/* line 6, ../sass/main.sass */
#active-jobs {
  width: 640px;
  float: left;
}

/* line 10, ../sass/main.sass */
.job-status {
  padding: 25px;
}
/* line 12, ../sass/main.sass */
.job-status span {
  color: #a5a5a5;
}
/* line 14, ../sass/main.sass */
.job-status .button {
  float: right;
}
/* line 16, ../sass/main.sass */
.job-status li h3 {
  margin-top: 15px;
}

/* line 19, ../sass/main.sass */
.company-logo {
  float: left;
}
/* line 21, ../sass/main.sass */
.company-logo.-size-medium {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}
/* line 25, ../sass/main.sass */
.company-logo.-size-small {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* line 31, ../sass/main.sass */
.job-suggestions li {
  margin: 10px 0px;
}
/* line 33, ../sass/main.sass */
.job-suggestions a {
  float: right;
}
/* line 35, ../sass/main.sass */
.job-suggestions span {
  color: #a5a5a5;
}

/* additional resets */
/* line 21, ../sass/styles.sass */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 26, ../sass/styles.sass */
body {
  zoom: 1;
  font-family: sans-serif;
}
/* line 29, ../sass/styles.sass */
body * {
  overflow: hidden;
}

/* line 32, ../sass/styles.sass */
h1 {
  font-size: 35px;
}

/* line 35, ../sass/styles.sass */
h2 {
  font-size: 24px;
}

/* line 38, ../sass/styles.sass */
h3 {
  font-size: 22px;
}

/* line 41, ../sass/styles.sass */
h4 {
  font-size: 18px;
}

/* line 44, ../sass/styles.sass */
h5 {
  font-size: 16px;
}

/* line 48, ../sass/styles.sass */
#wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

/*reuseable (app-scope) classes */
/* line 54, ../sass/styles.sass */
.button {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  /* line 58, ../sass/styles.sass */
  h1 {
    font-size: 28px;
  }

  /* line 61, ../sass/styles.sass */
  h2 {
    font-size: 22px;
  }

  /* line 64, ../sass/styles.sass */
  h3 {
    font-size: 20px;
  }

  /* line 67, ../sass/styles.sass */
  .mobile-block, .mobile-no-width, .mobile-all {
    display: block !important;
  }

  /* line 69, ../sass/styles.sass */
  .mobile-no-width, .mobile-all {
    width: auto !important;
  }

  /* line 72, ../sass/styles.sass */
  .mobile-no-float, .mobile-all {
    float: none !important;
  }
}
