/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables */
/* for dev purposes */
/* custom mixins */
/* additional resets */
/* line 23, ../sass/styles.sass */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 640px;
}

/* line 29, ../sass/styles.sass */
input:focus, select:focus, textarea:focus, button:focus, a:focus {
  outline: none;
}

/* frame */
/* line 33, ../sass/styles.sass */
body {
  background: #e5e5e5;
  zoom: 1;
  font-family: sans-serif;
  border-top: 5px solid #19b582;
}
/* line 37, ../sass/styles.sass */
body * {
  overflow: hidden;
}
/* line 39, ../sass/styles.sass */
body h1, body h2, body h3, body h4, body h5, body span, body em, body strong, body b, body u, body label, body form, body input {
  overflow: visible;
}

/* line 44, ../sass/styles.sass */
#wrapper {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* global styles */
/* line 51, ../sass/styles.sass */
h1 {
  font-size: 35px;
  color: #19b582;
}

/* line 55, ../sass/styles.sass */
h2 {
  font-size: 24px;
}

/* line 58, ../sass/styles.sass */
h3 {
  font-size: 22px;
  color: #7c7c7c;
}

/* line 61, ../sass/styles.sass */
h4 {
  font-size: 18px;
}

/* line 64, ../sass/styles.sass */
h5 {
  font-size: 16px;
}

/* line 67, ../sass/styles.sass */
h1, h3 {
  font-family: "Bitter", serif;
  font-weight: 400;
}

/*reuseable (app-scope) classes */
/* wrappers */
/* line 73, ../sass/styles.sass */
.mid-wrapper {
  text-align: center;
  position: relative;
}

/* buttons */
/* line 78, ../sass/styles.sass */
.button {
  cursor: pointer;
  background: #19b582;
  border: 0;
  border-bottom: 2px solid #19b582;
  border-bottom: 2px solid #11a071;
  color: white;
  font-size: 16px;
  font-family: "Bitter", serif;
  font-weight: 400;
  margin: 0;
}
/* line 83, ../sass/styles.sass */
.button:disabled {
  background: #19b582;
}

/* line 91, ../sass/styles.sass */
.text-link {
  color: #19b582;
}
/* line 93, ../sass/styles.sass */
.text-link:active {
  color: #11a071;
}

/* inputs */
/* line 98, ../sass/styles.sass */
.stacked-inputs input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}
/* line 103, ../sass/styles.sass */
.stacked-inputs input:not([type=submit]) {
  background: #fafafa;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #eeeeee;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
/* line 112, ../sass/styles.sass */
.stacked-inputs input:not([type=submit]):focus {
  background: #fdfdfd;
}
/* line 115, ../sass/styles.sass */
.stacked-inputs label {
  display: block;
  padding-bottom: 8px;
}
/* line 119, ../sass/styles.sass */
.stacked-inputs .split-inputs-wrapper {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  -ms-column-gap: 10px;
  -o-column-gap: 10px;
  column-gap: 10px;
  overflow: visible;
}

/* imports */
/* line 1, ../sass/credentials.sass */
#intro-text {
  display: inline-block;
  margin-top: 140px;
}
/* line 4, ../sass/credentials.sass */
#intro-text h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 9, ../sass/credentials.sass */
#intro-text h3 {
  font-size: 20px;
  line-height: 25px;
  margin: 20px 0;
}

/* line 15, ../sass/credentials.sass */
#credentials-region #sign-up, #credentials-region #log-in {
  background-color: #faf8f8;
  border-radius: 3px;
  border: 1px solid #cecccc;
  display: inline-block;
  width: 300px;
}
/* line 21, ../sass/credentials.sass */
#credentials-region #sign-up form, #credentials-region #log-in form {
  padding: 15px;
  background: white;
}
/* line 26, ../sass/credentials.sass */
#credentials-region #sign-up nav a {
  cursor: pointer;
  color: #bbbbbb;
  display: block;
  float: left;
  font-size: 20px;
  padding: 15px 0;
  font-family: "Bitter", serif;
  font-weight: 400;
  width: 50%;
}
/* line 35, ../sass/credentials.sass */
#credentials-region #sign-up nav a.selected {
  color: #19b582;
}
/* line 37, ../sass/credentials.sass */
#credentials-region #sign-up form {
  border-top: 1px solid #d6d5d5;
}
/* line 40, ../sass/credentials.sass */
#credentials-region #sign-up .form-top-helper {
  border-bottom: 1px solid #d6d5d5;
  font-family: "Bitter", serif;
  font-weight: 400;
  padding: 20px 0 13px 0;
  margin: 0 17px;
  font-size: 19px;
  color: #bbbbbb;
}
/* line 47, ../sass/credentials.sass */
#credentials-region .other-option {
  color: #19b582;
  font-size: 18px;
  font-family: "Bitter", serif;
  font-weight: 400;
  margin-top: 10px;
  line-height: 25px;
}

/* line 1, ../sass/main.sass */
#job-navigation-panel {
  float: right;
  width: 300px;
  height: 100%;
}

/* line 6, ../sass/main.sass */
#active-jobs {
  width: 640px;
  float: left;
}

/* line 10, ../sass/main.sass */
.job-status {
  padding: 25px;
}
/* line 12, ../sass/main.sass */
.job-status span {
  color: #a5a5a5;
}
/* line 14, ../sass/main.sass */
.job-status .button {
  float: right;
}
/* line 16, ../sass/main.sass */
.job-status li h3 {
  margin-top: 15px;
}

/* line 19, ../sass/main.sass */
.company-logo {
  float: left;
}
/* line 21, ../sass/main.sass */
.company-logo.-size-medium {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}
/* line 25, ../sass/main.sass */
.company-logo.-size-small {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* line 31, ../sass/main.sass */
.job-suggestions li {
  margin: 10px 0px;
}
/* line 33, ../sass/main.sass */
.job-suggestions a {
  float: right;
}
/* line 35, ../sass/main.sass */
.job-suggestions span {
  color: #a5a5a5;
}

/* subject to change - use device queries */
/* media queries */
@media screen and (max-width: 450px) {
  /* line 135, ../sass/styles.sass */
  h1 {
    font-size: 28px;
  }

  /* line 138, ../sass/styles.sass */
  h2 {
    font-size: 22px;
  }

  /* line 141, ../sass/styles.sass */
  h3 {
    font-size: 20px;
  }

  /* line 144, ../sass/styles.sass */
  html, body {
    width: auto;
    min-width: 0;
  }

  /* line 148, ../sass/styles.sass */
  .mobile-reset {
    display: block !important;
    width: auto !important;
    float: none !important;
    clear: none !important;
  }
}
