<h2>Welcome back, Taylor. <span>Your job progress:</span></h2>

<section id="active-jobs">
	<ul>
		<li>
			<div class="progress-bar"></div>
			<div class="company-logo -size-medium"></div>
			<h3>New Back-End Development Position</h3>
			<span>Microsoft, Inc.</span>
			<button class="button">Continue<span>(40%)</span></button>
		</li>
	</ul>
</section>

<aside id="job-navigation-panel">
	<div class="job-suggestions">
		<a>View All</a>
		<h4>Your Opportunities</h4>
		<ul>
			<div class="company-logo -size-small"></div>
			<h5>MongoDB and Mongoose Expert for Data Systems</h5>
			<span>Newsoft Tech</span>
		</ul>
	</div>
</aside>