<div id="log-in" class="mobile-reset">
	<form class="stacked-inputs" name="login" ng-submit="logIn(credentials)" novalidate>
		<!-- <legend>User Sign Up</legend> -->
		<label>
			<input type="email" name="email" ng-model="credentials.email" placeholder="Email" maxlength="70" ng-maxlength="70" required>
		</label>
		<label>
			<input type="password" name="password" ng-model="credentials.password" placeholder="Password" ng-maxlength="30" maxlength="30" required>
		</label>
		<input type="submit" value="Log In" class="button" ng-disabled="login.$invalid">
	</form>
</div>

<button ng-click="checkLogIn()">Check</button>

<div class="other-option">or <a href="#/signup" class="text-link">sign up</a> for an account</div>